.App {
  text-align: center;
  align-content: center;
  
}

#brand{
	color: white;
}

.trade-input{
  display:flex; 
  margin-left: 20%;
  margin-right: 20%;
  flex-direction:row;
  justify-content: space-around;
  align-content: space-between;

}

.left-side{
  text-align: start;
}

.right-side{
  text-align: end;
}