.App {
  text-align: center;
  align-content: center;  
}

.trade-input{
  display:flex; 
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 3%;
  flex-direction:row;
  text-align: start;
  justify-content: space-around;
}



.hitorical_data{
  margin-top: 4%;
  display:flex; 
  margin-left: 20%;
  margin-right: 20%;
  flex-direction:row;
  justify-content: space-around;
  align-content: space-between;
}